<form [formGroup]="form" (ngSubmit)="saveProduct($event)"> 
   <mat-card>
       <mat-card-header>
            Crear producto
       </mat-card-header>
       <mat-card-content>
            <div class="col-xs">
                <mat-form-field>
                    <input matInput formControlName="id" placeholder="id"  type="text">
                </mat-form-field>
                <div *ngIf="form.get('id').errors && form.get('id').dirty">
                    <mat-error *ngIf="form.get('id').hasError('required')">el campo es requerido</mat-error>
                </div>
            </div>

            <div class="col-xs">
                <mat-form-field>
                    <input matInput formControlName="title" placeholder="title"  type="text">
                </mat-form-field>
                <div *ngIf="form.get('title').errors && form.get('title').dirty">
                    <mat-error *ngIf="form.get('title').hasError('required')">el campo es requerido</mat-error>
                </div>
            </div>

            <div class="col-xs">
                <mat-form-field>
                    <input matInput formControlName="price" placeholder="price"  type="text">
                </mat-form-field>

                <mat-error *ngIf="price.hasError('required')">el campo es requerido</mat-error>
                <mat-error *ngIf="price.hasError('price_invalid')">el precio es invalido</mat-error>
            </div>
        
            <div class="col-xs">
                <mat-form-field>
                    <textarea matInput formControlName="description" placeholder="description" type="text"></textarea>
                    <div *ngIf="form.get('description').errors && form.get('description').dirty">
                        <mat-error *ngIf="form.get('description').hasError('required')">el campo es requerido</mat-error>
                    </div>
                </mat-form-field>
            </div>
            <mat-card-actions>
                <button mat-raised-button type="submit" color="primary" [disabled]="form.invalid">Guardar</button>
            </mat-card-actions>

       </mat-card-content>
   </mat-card>
</form>
