<mat-toolbar color="primary">
    <mat-toolbar-row>
      <button mat-icon-button aria-label="Icon menu">
        <mat-icon>menu</mat-icon>
      </button>
      <span>My App</span>

    </mat-toolbar-row>

    <mat-toolbar-row>
     
      <a mat-button routerLink="/home" routerLinkActive="active">Link</a>
      <a mat-button routerLink="/admin" routerLinkActive="active">Admin</a>
      <a mat-button routerLink="/products" routerLinkActive="active">Product</a>

      <span class="example-spacer"></span>
      <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>favorite</mat-icon>
      </button>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon [matBadge]="total" matBadgeColor="warn">add_shopping_cart</mat-icon>
        <!-- Include text description of the icon's meaning for screen-readers -->
        <span class="cdk-visually-hidden">
          Example with a home icon with overlaid badge showing the number 15
        </span>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>