.crop-image {
    display: block;
    height: 300px;
    width: 100%;
    img {
      object-fit: contain;
      height: 100%;
      width: 100%;
      object-position: center;
    }
}

.space-box {
  margin: 0.5rem !important;
}